body 
{
    text-align: center;
    font-family: "courier";
    color: deeppink;
    font-size: 16px;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid rgb(241, 135, 191);
    margin: 0 auto;
}
#container h1
{
    font-size: 24px;
}